@media screen and (min-width: 1050px) {

    .container--background {
        background-image: url(../images/banner/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        margin: 30px 12px 12px 25px;
        padding: 2px;
    }

    .header__nav {
        margin-top: 30px;
    }

    .nav__list {
        display: flex;
        justify-content: center;
    }

    /* Dodaj styl bazowy dla elementów menu */
    .nav__item {
        margin: 11px;
        font-size: 15px;
        position: relative;
        transition: font-weight 0.3s ease, letter-spacing 0.3s ease, transform 0.3s ease;
    }

    /* Styl dla elementów menu po najechaniu kursorem */
    .nav__item:hover {
        font-weight: bold; 
        letter-spacing: 1px; 
        transform: translateX(5px); /* Przesunięcie elementu */
    }


    .arrow__down {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }
    
    .nav__item:hover .arrow__down {
        transform: rotate(90deg);
    }

    .header__button {
        margin-right: 26px;
        margin-top: 30px;
    }
    
    .header__button--download {
        background-color: #0885f6;
        border-radius: 5px;
        border: 2px solid #0885f6;
        width: 106px;
        padding: 10px;
        color: #f2f4f4;
        font-size: 15px;
        transition: .3s linear;
    }

    .header__button--download:hover {
        background-color: #f2f4f4;
        color: #0885f6;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        color: white;
    }

    .main__container {
        width: 98%;
    }

    .main_title {
        margin: 0px;
        padding: 231px 0px 15px 48px;
        font-size: 46px;
        font-weight: 300;
        line-height: 1.3em;
    }

    .main__description {
        margin: 0px;
        padding: 0px 0px 15px 48px;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.4em;
    }

    .main img {
        bottom: 0;
        max-width: 100%;
        width: 66%;
        margin-bottom: -91px;
        padding-top: 143px;
        padding-right: 39px;
    }

    .main__btn {
        background-color: #6FEBED;
        color: #f2f4f4;
        font-size: 21px;
        font-weight: 100;
        padding: 15px 17px;
        margin: 45px 0 88px 48px;
        border: 2px solid #6FEBED;
        border-radius: 8px;
        width: 195px;
        transition: .3s linear;
    }

    .main__btn:hover {
        background-color: #f2f4f4;
        color: #6FEBED;
    }

    .benefits {
        color: #2c2c2c;
        background-color: white;
        margin-top: 50px;
        text-align: center;
    }
    
    .benefits__titles {
        margin: 0px;
        padding: 167px 170px 15px 170px;
        font-size: 48px;
        font-weight: 300;
        line-height: 1.2;
    }

    .benefits__container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .benefits__item {
        font-size: 20px;
        font-weight: 100;
    }

    .benefits__img-1, .benefits__img-2, .benefits__img-3 {
        width: 115px;
        height: 115px;
        border-radius: 19px;
        margin: 3px auto;
        padding: 33px;
    }
    
    .benefits__img-1 {
        background-color: #2A93F9;
        transition: .3s linear;
    }
    
    .benefits__img-1:hover {
        transform: scale(1.2);
    }

    .benefits__img-1 {
        margin-left: 230px;
        margin-top: 32px;
    }

    .benefits__item--left {
        margin-left: 186px;
        margin-top: 32px;
        margin-right: 20px;
    }

    .benefits__img-2 {
        background-color: #F19D5A;
        margin: 0 auto;
        margin-top: 32px;
        transition: .3s linear;
    }
    
    .benefits__img-2:hover {
        transform: scale(1.2);
    }

    .benefits__item--middle {
        margin: 32px 20px 0 20px;
    }

    .benefits__img-3 {
        background-color: #7BF08E;
        transition: .3s linear;
    }
    
    .benefits__img-3:hover {
        transform: scale(1.2);
    }

    .benefits__img-3 {
        margin-right: 177px;
        margin-top: 32px;
    }

    .benefits__item--right {
        margin-right: 100px;
        margin-top: 32px;
    }

    .features {
        color: #2c2c2c;
        background-color: white;
        margin-top: 90px;
        text-align: center;
    }
    
    .features__container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }

    .features__item-1 {
        width: 70%;
    }

    .features__title {
        margin: 0px auto;
        padding: 44px 20px 1px 0px;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.5;
        margin-left: 33px;
    }

    .features__description {
        padding: 15px;
        padding-bottom: 35px;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.9em;
        margin-top: -4px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
    }

    .features__btn {
        background-color: #1581F5;
        color: #f2f4f4;
        font-size: 17px;
        font-weight: 100;
        padding: 14px 22px;
        margin-bottom: 37px;
        border: 2px solid #1581F5;
        border-radius: 6px;
        width: 202px;
        margin-right: 286px;
        margin-left: 46px;
        margin-top: 10px;
        height: 52px;
        transition: .3s linear;
    }

    .features__btn:hover {
        background-color: #f2f4f4;
        color: #0885f6;
    }


    .features__img {
        max-width: 209%;
        width: 155%;
        margin-top: 18px;
        padding-right: 14px;
    }

    .comment {
        color: #2c2c2c;
        margin: 60px 0 0 0;
        text-align: center;
        background: url(../images/banner/testmonial.png);
        height: 587px;
        z-index: 0;
    }

    .comment--blue {
        background-color: rgb(48, 153, 250, 0.5);
        height: 587px;
    }
    
    .comment__title {
        margin: 0px auto;
        padding: 125px 6px 0 6px;
        font-size: 48px;
        font-weight: 300;
        margin-top: 46px;
        line-height: 1.2;
        color: white;
    }

    .comment__description {
        padding: 43px 30px 0 30px;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.7;
        color: white;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.7;
        color: white;
    }
    
    .comment__rating {
        display: flex;
        justify-content: center;
        margin: 40px;
        color: white;
    }

    .fa-solid {
        color: #FAD259;
        width: 31px;
        font-size: 21px;
        margin: 2px;
    }

    .offer {
        color: #2c2c2c;
        background-color: white;
        margin-top: 0;
        text-align: center;
    }
    
    .offer__title {
        margin: 0px auto;
        padding: 103px 6px;
        font-size: 48px;
        font-weight: 300;
        padding-bottom: 26px;
    }

    .offer__description {
        margin: 0px auto;
        padding: 0px 30px;
        font-size: 19px;
        font-weight: 200;
        padding-bottom: 35px;
    }

    .offer__container--tablet {
        display: flex;
        justify-content: center;
    }

    .basic__header, .team__header, .business__header {
        display: flex;
        justify-content: space-between;
        margin: 41px 0 36px 0;
        padding: 15px 40px;
        font-size: 25px;
    }

    .basic__header {
        color: rgb(48, 153, 250);
        background-color: rgb(48, 153, 250, 0.1);
    }

    .team__header {
        color: #F4AE5E;
        background-color: rgb(244, 174, 94, 0.1);
    }

    .team__header--middle {
        margin: 0;
    }

    .business__header {
        color: #6DD991;
        background-color: rgb(109, 217, 145, 0.1);
    }
    
    .offer__item {
        margin: 22px;
        font-size: 20px;
        padding: 10px;
    }

    .offer__basic, .offer__team, .offer__business {
        background-color: #FAFAFA;
        padding: 1px;
    }

    .offer__container {
        width: 95%;
        margin: 0 auto;
        border-radius: 5px;
        background-color: white;
        box-shadow: #dfdfdf 0px 0px 24px 10px;
        padding-bottom: 55px;
        }
    
    .offer__btn {
        background-color: white;
        border: 1px solid #2A93F9;
        border-radius: 5px;
        margin: 6px;
        width: 141px;
        color: #2A93F9;
        padding: 13px;
        font-size: 19px;
        transition: .3s linear;
    }

    .offer__btn:hover {
        background-color: #2A93F9;
        color: white;
    }

    .apps {
        background-color: rgb(24, 139, 255, 0.7);
        height: 400px;
        margin-top: 37px;
        display: flex;
    }

    .apps__title {
        padding: 40px 6px;
        font-size: 35px;
        font-weight: 200;
        padding-bottom: 26px;
        color: white;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 107px;
        padding-left: 0px;
        text-align: left;
        width: 50%;
    }

    .apps__img {
        display: flex;
        justify-content: center;
        margin: 10px;
        margin-top: -16px;
        max-width: 41%;
        width: 13%;
        margin-right: 149px;
    }

    .apps__img--space {
        margin: 7px;
    }
    
    .links {
        height: 760px;
        background-color: #1F1F1F;
        color: white;
        display: flex;
        justify-content: flex-start;
    }

    .links__container--left {
        width: 50%;
    }

    .links__description {
        padding-left: 104px;
        font-size: 15px;
        line-height: 2;
        padding-top: 20px;
    }

    .links__img {
        padding: 13px;
        padding-top: 83px;
        width: 28%;
        margin-left: 91px;
    }

    .links__icons {
        display: flex;
        justify-content: flex-start;
        margin-left: 96px;
    }

    .icon__item {
        background-color: rgb(216 211 211 / 30%);
        border-radius: 50%;
        color: white;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 6px;
        margin-top: 14px;
        position: relative;
    }

    .fa-brands {
        width: 40px;
        height: 40px;
        display: inline-block;
        color: white;
        margin: 17px 17px 17px 19px;
    }

    .links__header {
        color: white;
        font-size: 20px;
        padding-left: 33px;
        padding-top: 80px;
    }

    .links__header--left {
        margin-left: 96px;
        margin-top: 69px;
    }

    .links__item {
        color: white;
        padding-left: 34px;
        padding-top: 29px;
        font-size: 14px;
        line-height: 0.9;
    }

    .links__item--left {
        margin-left: 96px;
    }

    .links__container--right {
        padding-top: 52px;
    }

    .footer, .footer__item {
        background-color: #000000;
        color: white;
        height: 126px;
        padding: 31px;
        padding-top: 43px;
        font-size: 15px;
        text-align: center;
    }

    .footer__item {
        color: #2A93F9;
        padding-top: 0px;
    }

    .fa-regular {
        color: white;
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .fa-brands {
        margin: 12px 17px 17px 14px;
    }
}