@media screen and (max-width: 649px) {
    
    header {
        background-color: #2c2c2c;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        margin: 13px 12px 10px;
        padding: 2px;
    }

    .header__nav {
        margin: 19px 17px 14px 10px;
        width: 37px;
        height: 35px;
        border: 0;
        border-top: 3px solid white;
        background: transparent;
        position: relative;
    }

    .header__nav::before, .header__nav::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid white;
        transform: translateY(10px);
    }
    .header__nav::after {
        transform: translateY(23px);
    }

    main {
        background-image: url(../images/banner/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* Tło nie rotuje się */
        transform: rotateY('180deg');
        height: 100%;
        color: white;
    }

    .main_title {
        margin: 0px;
        padding: 50px 15px 15px 20px;
        font-size: 39px;
        font-weight: 300;
        line-height: 1.1em;
    }

    .main__description {
        margin: 0px;
        padding: 6px 34px 15px 20px;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.3em;
    }

    .main img {
        bottom: 0;
        max-width: 100%;
        width: 97%;
        margin-bottom: -50px;
    }

    .main__btn {
        background-color: #6FEBED;
        color: white;
        font-size: 20px;
        font-weight: 100;
        padding: 21px 17px;
        margin: 43px 0 90px 20px;
        border: none;
        border-radius: 8px;
        width: 225px;
    }

    .benefits {
        color: #2c2c2c;
        background-color: white;
        margin-top: 50px;
        text-align: center;
    }
    
    .benefits__titles {
        margin: 0px;
        padding: 43px 15px 15px 10px;
        font-size: 35px;
        font-weight: 300;
        line-height: 1.3em;
    }

    .benefits__item {
        font-size: 30px;
        font-weight: 100;
        padding: 34px 104px;
    }

    .benefits__img-1, .benefits__img-2, .benefits__img-3 {
        width: 136px;
        height: 129px;
        border-radius: 30px;
        margin: 3px auto;
        padding: 33px;
    }
    
    .benefits__img-1 {
        margin-top: 40px;
        background-color: #2A93F9;
    }

    .benefits__img-2 {
        background-color: #F19D5A;
    }

    .benefits__img-3 {
        background-color: #7BF08E;
    }
    .features {
        color: #2c2c2c;
        background-color: white;
        margin-top: -20px;
        text-align: center;
    }
    
    .features__title {
        margin: 0px auto;
        padding: 41px 28px 1px 17px;
        font-size: 36px;
        font-weight: 300;
    }

    .features__description {
        padding: 15px;
        padding-bottom: 35px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.9em;
    }

    .features__btn {
        background-color: #1581F5;
        color: white;
        font-size: 20px;
        font-weight: 100;
        padding: 20px 30px;
        margin-bottom: 37px;
        border: none;
        border-radius: 8px;
        width: 235px;
        margin-right: 320px;
    }

    .features__img {
        margin-right: 10px;
    }

    .comment {
        color: #2c2c2c;
        margin: 60px 0 0 0;
        text-align: center;
        background: url(../images/banner/testmonial.png);
        height: 587px;
    }

    .comment--blue {
        background-color: rgb(48, 153, 250, 0.5);
        height: 587px;
    }
    
    .comment__title {
        margin: 0px auto;
        padding: 125px 6px 0 6px;
        font-size: 37px;
        font-weight: 300;
        color: white;
        margin-top: 46px;
        line-height: 1.2;
    }

    .comment__description {
        padding: 43px 15px 0px 15px;
        font-size: 24px;
        font-weight: 300;
        color: white;
        line-height: 1.7;
    }

    .comment__name {
        color: white;
    }

    .comment__rating {
        display: flex;
        justify-content: center;
        margin: 40px;
    }

    .fa-solid {
        color: #FAD259;
        width: 33px;
        font-size: 25px;
    }

    .offer {
        color: #2c2c2c;
        background-color: white;
        margin-top: 15px;
        text-align: center;
    }
    
    .offer__title {
        margin: 0px auto;
        padding: 40px 6px;
        font-size: 35px;
        font-weight: 300;
        padding-bottom: 26px;
    }

    .offer__description {
        margin: 0px auto;
        padding: 0px 6px;
        font-size: 20px;
        font-weight: 200;
        padding-bottom: 20px;
    }

    .basic__header, .team__header, .business__header {
        display: flex;
        justify-content: space-between;
        margin: 41px 0 36px 0;
        padding: 15px 40px;
        font-size: 25px;
    }
    .basic__header {
        color: rgb(48, 153, 250);
        background-color: rgb(48, 153, 250, 0.1);
    }

    .team__header {
        color: #F4AE5E;
        background-color: rgb(244, 174, 94, 0.1);
    }

    .business__header {
        color: #6DD991;
        background-color: rgb(109, 217, 145, 0.1);
    }
    
    .offer__item {
        margin: 22px;
        font-size: 20px;
        padding: 10px;
    }

    .offer__basic, .offer__team, .offer__business {
        background-color: #FAFAFA;
        padding: 1px;
    }

    .offer__container {
        width: 95%;
        margin: 0 auto;
        border-radius: 5px;
        background-color: white;
        box-shadow: #dfdfdf 0px 0px 24px 10px;
        padding-bottom: 55px;
    }
    
    .offer__btn {
        background-color: white;
        border: 1px solid #2A93F9;
        border-radius: 5px;
        margin: 6px;
        width: 141px;
        color: #2A93F9;
        padding: 13px;
        font-size: 19px;
    }

    .apps {
        background-color: rgb(24, 139, 255, 0.7);
        height: 400px;
        margin-top: 37px;
    }

    .apps__title {
        padding: 40px 6px;
        font-size: 35px;
        font-weight: 300;
        padding-bottom: 26px;
        color: white;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 107px;
        padding-left: 2px;
        text-align: center;
    }
  
    .apps__img {
        display: flex;
        justify-content: center;
        margin: 10px;
        margin-top: -16px;
    }

    .apps__img--space {
        margin: 7px;
    }
    
    .links {
        height: 1123px;
        background-color: #1F1F1F;
        color: white;
    }

    .links__description {
        padding-left: 12px;
        font-size: 20px;
    }

    .links__img {
        padding: 13px;
        padding-top: 83px;
        width: 23%;
    }

    .links__icons {
        display: flex;
        justify-content: flex-start;
    }

    .icon__item {
        background-color: rgb(216 211 211 / 30%);
        border-radius: 50%;
        color: white;
        width: 51px;
        height: 51px;
        display: inline-block;
        margin: 6px;
        margin-top: 43px;
        position: relative;
    }

    .fa-brands {
        width: 40px;
        height: 40px;
        display: inline-block;
        color: white;
        margin: 17px 17px 17px 19px;
    }

    .links__header {
        color: white;
        font-size: 27px;
        padding-left: 12px;
        padding-top: 27px;
    }

    .links__item {
        color: white;
        padding-left: 12px;
        padding-top: 29px;
    }

    .footer, .footer__item {
        background-color: #000000;
        color: white;
        height: 126px;
        padding: 31px;
        padding-top: 43px;
        font-size: 15px;
        text-align: center;
    }

    .footer__item {
        color: #2A93F9;
        padding-top: 0px;
    }

    .fa-regular {
        color: white;
        display: inline-block;
        width: 20px;
        height: 20px;
    }
}

